.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout-game{
  width: 700px; /* Doble tamaño */
  height: 1000px; /* Doble tamaño */
  border: solid 10px black; /* Doble tamaño */
  border-radius: 10% 10% 34% 10%; /* Doble tamaño */
  background-color: #C0BCB8; 
}

.screenlayout-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; /* Doble tamaño */
}

.screen-border{
  width: 500px; /* Doble tamaño */
  height: 400px; /* Doble tamaño */
  border-radius: 10% 10% 34% 10%; /* Doble tamaño */
  background-color: #575866;
}

.screen-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px; /* Doble tamaño */
}

.screen{
  width: 300px; /* Doble tamaño */
  height: 300px; /* Doble tamaño */
  border: solid 4px black; /* Doble tamaño */
  background-color:#4D5927;
}

.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px; /* Doble tamaño */
}

.container-pad {
  width: 200px; /* Doble tamaño */
  height: 200px; /* Doble tamaño */
}

.container-pad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-up-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-up {
  width: 50px; /* Doble tamaño */
  height: 80px; /* Doble tamaño */
  background-color: #020204;
}

.btn-down {
  width: 50px; /* Doble tamaño */
  height: 80px; /* Doble tamaño */
  background-color: #020204;
}

.btn-right {
  width: 50px; /* Doble tamaño */
  height: 64px; /* Doble tamaño */
  background-color: #020204;
}

.btn-left {
  width: 50px; /* Doble tamaño */
  height: 64px; /* Doble tamaño */
  background-color: #020204;
}

.container-select{
  width: 100px; /* Doble tamaño */
  height: 100px; /* Doble tamaño */
  margin: 6%; /* Doble tamaño */
  display: flex;
  justify-content: space-around;
  transform: rotate(-35deg);
  margin-right: 80px; /* Doble tamaño */
  margin-top: 300px; /* Doble tamaño */
}

.container-action{
  width: 200px; /* Doble tamaño */
  height: 200px; /* Doble tamaño */
  display: flex;
  justify-content: space-around;
}

.buttonA{
  width: 80px; /* Doble tamaño */
  height: 80px; /* Doble tamaño */
  background-color: #74041E;
  border-radius: 100%;

}

.buttonB{
  margin-top: 60px; /* Doble tamaño */
  width: 80px; /* Doble tamaño */
  height: 80px; /* Doble tamaño */
  background-color: #74041E;
  border-radius: 100%;
}

.btn-start{
  margin-top: 50px; /* Doble tamaño */
  width: 70px; /* Doble tamaño */
  height: 20px; /* Doble tamaño */
  background-color: gray;
  border-radius: 45%;

}

.btn-select{
  width: 70px; /* Doble tamaño */
  height: 20px; /* Doble tamaño */
  background-color: gray;
  border-radius: 45%;
  margin-right: 30px; /* Doble tamaño */
}
